/* Main Stylesheet */

@import url(https://fonts.googleapis.com/css?family=Overlock:400,700italic);
@import url(https://fonts.googleapis.com/css?family=Marck+Script);

/* Footer */

footer {
  margin-top: 5em;
}


/* header */

header {
  position: fixed;
  width: 100%;
  /*   max-width: 100%; */
  background: lightblue;
  margin: 0 auto;
  text-align: center;
  z-index: 6;
}

blockquote {
  font-size: .9em;
}

body {
  background: url(https://raw.githubusercontent.com/jxqr97/jxqr97.github.io/master/img/Style%20Tile/ricepaper/ricepaper.png);
  background-size: cover;
  margin: 0 auto;
  text-align: center;
}

.my-pic {
  padding-top: 7.5em;
  width: 25%;
}

#resume,
#portfolio {
  padding-top: 4em;
}


/* Images and Buttons */

.icons a:hover {
  text-decoration: none;
}

.icons div {
  display: inline-block;
}

.linkedin {
  height: 1.875em;
}

.twitter {
  height: 1.875em;
}

.email-me {
  height: 2.1em;
  border-radius: 25%;
}


/* Navigaion */

nav a {
  margin: 10px;
  letter-spacing: 2px;
}

nav li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

nav ul {
  margin: 0 auto;
  padding: 0;
}

ul {
  margin: 0 auto;
  padding: 0;
}

a:link,
a:visited {
  color: #69109A;
  text-decoration: none;
}

a:hover {
  color: #D72B5B;
  text-decoration: underline;
}

#resume,
#portfolio {
  font-weight: bold;
  font-size: 2em;
  text-decoration: none;
  color: black;
}


/* Typography */

body {
  font-family: 'Marck Script', cursive;
  font-size: 1.5em;
}

p {
  font-family: 'Overlock', cursive;
  font-weight: bold;
  color: #333;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 1.05em;
  width: 90%;
  max-width: 80%;
  margin: 0 auto;
}


/* resume */

.resume-list {
  display: block;
  font-family: 'Overlock', cursive;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 1em;
}


/* Portfolio */

.portfolio-grid {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
}

.portfolio-grid li {
  display: inline-block;
  margin: 18px;
  font-size: .75em;
  vertical-align: top;
  width: 266px;
  height: 200px;
}

.portfolio-grid li > a,
.portfolio-grid li > a img {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  display: block;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.portfolio-grid li > a img:hover {
  border-radius: 50%;
  z-index: 5;
}

figcaption {
  width: 266px;
  position: absolute;
  opacity: 0;
}

li:hover figcaption {
  opacity: 1;
  bottom: -25px;
  background: lightblue;
  border-radius: 5%;
  text-decoration: none;
  color: #69109A;
}


/* Responsive Page Mobile/Tablet*/

@media screen and (max-width: 770px) {
  body {
    background: #e1e1e1;
    width: 100%;
    height: 100%;
  }
  header {
    position: fixed;
    text-align: center;
    width: 100%;
    margin: 0;
    display: block;
  }
  /* Navigation   */
  nav ul {
    margin: 0;
  }
  nav {
    padding: none;
  }
  /*  Portfolio  */
  .portfolio-grid li > a,
  .portfolio-grid li > a img {
    transition: none;
  }
  .portfolio-grid li > a img:hover {
    border-radius: 0%;
  }
  figcaption {
    opacity: 1;
  }
  li:hover figcaption {
  background: none;
  border-radius: 0%;
  }
}